body, div {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: sans-serif;
	color: rgb(0,0,0);
	background: rgb(230,235,240);
	background: linear-gradient(
		0deg, 
		rgb(230,235,240) 0%, 
		rgb(255,255,255) 100%
	);
	overflow-wrap: break-word;
}

a {
	color: rgba(0, 170, 230);
}

a:hover{
	color: rgb(100, 200, 255);
}


.main {
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

#demo {
	margin: 2rem;
	font-size: 3rem;
	opacity: 0.8;
}

.footer {
	font-size: 0.875rem;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1rem;
	color: grey;
}

